/* Alert Styles */
.alert {
  color: white;
  padding: 20px;
  border-radius: 13px;
  margin-bottom: 2rem;
  text-align: left;
}

.alert-success {
  background-color: darkturquoise;
}

.alert-error {
  background-color: mediumvioletred;
}

.alert a {
  color: yellow;
}
