@import url('@picocss/pico/css/pico.css');

.alert {
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 13px;
}

.alert-success {
  background-color: darkturquoise;
}

.alert-error {
  background-color: mediumvioletred;
}

footer {
  font-size: smaller;
  text-align: center;
}
